.toast-container {
  width: 350px;
  height: 100px;
  color: #fff;
  margin: 10px;
  padding: 20px 25px;
  position: fixed;
  z-index: 1001;
  box-shadow: 0 0 12px #999;
  border-radius: 3px;
  display: flex;
  .toast-content {
    align-self: center;
    .icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      border-radius: 50%;
      background-color: #fff;
      font-weight: bolder;
      margin-right: 10px;
    }
  }
  .closeBtn {
    position: absolute;
    right: 12px;
    top: 2px;
    font-size: 16px;
    cursor: pointer;
  }

  &.success {
    background-color: #51a351;
    .toast-content {
      .icon {
        color: #51a351;
        padding-left: 6px;
      }
    }
  }
  &.error {
    background-color: #bd362f;
    .toast-content {
      .icon {
        color: #bd362f;
        padding-left: 6px;
      }
    }
  }
  &.warn {
    background-color: #f89406;
    .toast-content {
      .icon {
        color: #f89406;
        padding-left: 9px;
      }
    }
  }
  &.info {
    background-color: #2f96b4;
    .toast-content {
      .icon {
        color: #2f96b4;
        padding-left: 9px;
      }
    }
  }
  &.top-left {
    left: 0px;
    top: 75px;
  }
  &.top-right {
    right: 0px;
    top: 75px;
  }
  &.bottom-right {
    right: 0px;
    bottom: 0px;
  }
  &.bottom-left {
    left: 0px;
    bottom: 0px;
  }
}
