.chart-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(254, 215, 153);
  .title {
    margin: 50px auto;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
    padding: 30px;
  }
  .nav {
    width: 100%;
    padding: 30px;
    z-index: 999;
    position: absolute;
    bottom: 0px;
    margin: 50px auto;
  }
  .chart-wrapper {
    width: 600px;
    height: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 999;
    position: absolute;
    top: 175px;
    left: calc(50vw - 300px);
    margin: 50px auto;
  }
}
