button {
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #222831;
  color: #fff;
}
