button {
  width: 100px;
  height:35px;
  font-weight: bold;
  font-size: 17px;
  border: 0px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFD369;
  color: #222831;
}
