.home-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .title {
    margin: 150px auto;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
    padding: 30px;
  }

  .nav {
    width: 100%;
    padding: 30px;
    z-index: 999;
    position: absolute;
    bottom: 0px;
    margin: 150px auto;
  }
}
