.btn-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .title {
    position: absolute;
    left: 0px;
    top: 200px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  button {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }
  .status {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    &.online {
      background-color: green;
      color: #fff;
    }
    &.offline {
      background-color: red;
      color: #fff;
    }
  }
}
