.widget-container {
  display: flex;
  align-items: space-between;
  .widget {
    width: 325px;
    height: 175px;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    display: flex;
    align-items: center;
    padding: 20px;
    &.green {
      background-color: rgb(4, 67, 66);
    }
    &.yellow {
      background-color: rgb(237, 158, 32);
    }
    &.red {
      background-color: rgb(126, 5, 5);
    }
    &.blue {
      background-color: rgb(105, 32, 251);
    }
    @media only screen and (max-width: 1600px) {
      width: 300px;
    }
    @media only screen and (max-width: 1500px) {
      width: 275px;
    }
    @media only screen and (max-width: 1400px) {
      width: 250px;
    }
    @media only screen and (max-width: 1200px) {
      width: 225px;
    }

    .icon {
      width: 100px;
      font-size: 60px;
      text-align: center;
      @media only screen and (max-width: 1200px) {
        font-size: 45px;
      }
    }
    .value {
      text-align: center;
      width: 175px;
      .top {
        font-size: 30px;
        @media only screen and (max-width: 1200px) {
          font-size: 26px;
        }
      }
      .bottom {
        font-size: 20px;
        margin-top: 10px;
        @media only screen and (max-width: 1200px) {
          font-size: 16px;
        }
      }
    }
  }
}
