.my-container {
  padding: 50px;
  text-align: center;
  .btn-container{
    margin-bottom: 30px;
    button {
      width: 100px;
      height: 40px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .items-container {
    .item {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
