<div class="container">
  <div class="section">
    <h1>Sweet Alert</h1>
    <button class="btn btn-success" (click)="onSuccess()">Success</button>
    <button class="btn btn-danger" (click)="onError()">Error</button>
    <button class="btn btn-warning" (click)="onWarning()">Warning</button>
    <button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
  </div>
  <div class="section">
    <h1>Toastr</h1>
    <button class="btn btn-success" (click)="onToastrSuccess()">Success</button>
    <button class="btn btn-danger" (click)="onToastrError()">Error</button>
  </div>
</div>
