.nav-wrapper {
  background-color: #fff;
  color: #000;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  .nav-item {
    text-align: center;
    padding: 20px 50px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
    }
    .text {
      margin-top: 5px;
    }
  }
}
