<div class="nav-wrapper">
  <div class="nav-item" (click)="goTo('line')">
    <div class="img">
      <img src="assets/line-chart.png" alt="" />
    </div>
    <div class="text">LINE</div>
  </div>
  <div class="nav-item" (click)="goTo('bar')">
    <div class="img">
      <img src="assets/bar-chart.png" alt="" />
    </div>
    <div class="text">BAR</div>
  </div>
  <div class="nav-item" (click)="goTo('pie')">
    <div class="img">
      <img src="assets/pie-chart.png" alt="" />
    </div>
    <div class="text">PIE</div>
  </div>
  <div class="nav-item" (click)="goTo('doughnut')">
    <div class="img">
      <img src="assets/donut-chart.png" alt="" />
    </div>
    <div class="text">DOUGHNUT</div>
  </div>
</div>
