@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;724;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  color: #e47ef6;
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
