.center {
  text-align: center;
}

form {
  margin-top: 30px;
}

input {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  margin-top: 30px;
  padding: 5px 10px;
}

button {
  margin-top: 20px;
  width: 100px;
  height: 35px;
  font-weight: bold;
  color: #fff;
  background-color: purple;
  text-align: center;
}
