.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 300px;
    height: 100px;
    background-color: orange;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }
}
